@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

header {
  background-image: url('https://b.zmtcdn.com/web_assets/81f3ff974d82520780078ba1cfbd453a1583259680.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 70vh;
  width: 100vw;
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 48px;
}
header #getApp {
  background-color: #fa5252;
  padding: 8px 16px;
  border-radius: 6px;
  font-weight: 600;
}
header nav a:link,
a:hover,
a:visited {
  color: #fff;
  text-decoration: none;
}
header nav ul {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  gap: 48px;
  align-items: center;
  font-weight: 500;
}
nav li a:hover {
  color: #fa5252;
}
#getApp:hover {
  background-color: #fff;
  color: #fa5252;
}
header .header {
  margin-top: 48px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 42px;
}
.header p {
  color: #fff;
  font-size: 2.2rem;
}
.header .location-and-search {
  background-color: #fff;
  width: 60vw;
  height: 3.4em;
  border-radius: 8px;
  display: flex;
  align-items: center;
  font-size: 1.2em;
}
.location-and-search .line {
  width: 5px;
  height: 60%;
  background-color: #ced4da;
}
.location-and-search .location {
  width: 40vw;
  display: flex;
  gap: 12px;
  justify-content: center;
  align-items: center;
  padding-left: 18px;
}
.location-and-search .location .input-location {
  width: 100%;
  border: none;
  outline: none;
}
.location-and-search .search {
  width: 100vw;
  display: flex;
  gap: 12px;
  justify-content: center;
  align-items: center;
  padding-left: 18px;
}
.location-and-search .search .input-search {
  width: 100%;
  border: none;
  outline: none;
}
.section-1 {
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: center;
  margin-top: 28px;
}
.section-1 .card {
  width: 240px;
  height: 240px;
  margin: 12px;
  border-radius: 12px;
  border: 2px solid #e9ecef;
}

.section-1 .card img {
  width: 100%;
  height: 80%;
  border-radius: 10px 10px 0px 0px;
}

.section-1 .card .card-footer {
  text-align: center;
  font-size: 1.2em;
  font-weight: lighter;
}
.section-2 {
  width: 80vw;
  margin: 48px auto;
}

.section-2 .section-2-heading {
  font-size: 1.8em;
  margin-bottom: 24px;
}
.section-2 .section-2-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 48px;
}

.section-2 .place {
  border-radius: 12px;
  box-shadow: 0px 6px 14px #dee2e6;
  padding: 18px;
  width: 360px;
}

.section-2 .place .place-heading {
  font-size: 1.3em;
  margin-bottom: 8px;
}
.section-2 .place .place-numbers {
  color: #adb5bd;
}

.section-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 48px;
}
.section-3 .mockup-img img {
  height: 480px;
}
.section-3 .getapp {
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.section-3 .getapp h3 {
  font-size: 2.5em;
}
.section-3 .getapp p {
  font-size: 1.3em;
  color: #868e96;
}
.section-3 .getapp img {
  width: 200px;
}

footer p {
  text-align: center;
  margin: 24px auto;
  color: #adb5bd;
}
